{% if page.post-type %}<div class="{{ page.post-type }}">{% else %}<div class="post">{% endif %}
  <div class="content">
    <h2 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h2>

    {% unless page.hide_meta %}
    <div class="meta">
      Arthur Schreiber &middot;
      <span class="date">{{ page.date | date: "%e" | ordinalize }} {{ page.date | date: "%B"}} {{ page.date | date: "%Y"}}</span>
    </div>
    {% endunless %}


    {{ body }}
  </div>
  
  <div id="disqus_thread"></div>

  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'nokarmaorg'; // required: replace example with your forum shortname

      // The following are highly recommended additional parameters. Remove the slashes in front to use.
      var disqus_identifier = '{{ page.url }}';
      var disqus_url = 'http://nokarma.org/{{ page.url }}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>

</div>